{% extends "index.html" %}

{% block preloads %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=start"></script>
{% endblock %}

{% block nav_form %}
{% endblock %}

{% block page_title %}
<div class="col-md-12 col-lg-12">
    <h1 class="display-4">
        Login
    </h1>
</div>
{% endblock %}

{% block page_content %}
<section class="col-md-9 pl-0">
    <form class="container" method="POST">
        <div class="form-group">
            <label for="item-name">Username</label>
            <input type="text" class="form-control" id="loginid" aria-describedby="loginid-help" placeholder="Username-12345"
                name="loginid">
            <small id="loginid-help" class="form-text text-muted">Enter registered email or user id</small>
        </div>
        <div class="form-group">
            <label for="item-price">Password</label>
            <input type="password" class="form-control" id="password" aria-describedby="password-help" placeholder="Password-12345"
                name="password">
            <small id="password-help" class="form-text text-muted">Enter your password</small>
        </div>
        <button type="submit" class="btn btn-primary" name="action" value="LOGIN">Submit</button>
        <button type="submit" class="btn btn-secondary" name="action" value="CANCEL">Cancel</button>
        <p class="mt-4 lead">Or sign-in using Google or Facebook</p>

        <div id="signinButton">
            <span class="g-signin" data-scope="openid email" data-clientid="373748662000-ibp296koao7nls0sd822bpktg938kd1f.apps.googleusercontent.com"
                data-redirecturi="postmessage" data-accesstype="offline" data-cookiepolicy="single_host_origin"
                data-callback="signInCallback" data-approvalprompt="force" data-height="200">
            </span>
        </div>

        <button>
            <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
                <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
            </fb:login-button>
        </button>
    </form>
    <div class="container">
        <div id="result"></div>
    </div>
</section>
{% endblock %}

{% block additional_script %}
<script type="text/javascript">
    function signInCallback(authResult) {
        if (authResult["code"]) {
            // Hide the sign-in button now that the user is authorized
            $("#signinButton").attr("style", "display: none");
            // Send the one-time-use code to the server, if the server responds, write a "login successful" message to the web page and then redirect back to the main restaurants page
            fetch("/gconnect?state={{STATE}}", {
                method: "POST",
                body: authResult["code"],
                headers: {
                    "Content-Type": "application/json"
                    // "Content-Type": "application/x-www-form-urlencoded",
                }
            }).then(response => response.json()).then(result => {
                // Handle or verify the server response if necessary.
                if (result) {
                    console.log(result)
                    $("#result").html("Login Successful!</br>" + result.output.body + "</br>Redirecting...")
                    setTimeout(function () {
                        window.location.href = "/restaurant";
                    }, 5000);
                } else if (authResult["error"]) {
                    $("#result").html("There was an error: " + authResult["error"]);
                } else {
                    $("#result").html(
                        "Failed to make a server-side call. Check your configuration and console.");
                }
            })
        }
    }

    window.fbAsyncInit = function () {
        FB.init({
            appId: '308115673154808',
            cookie: true, // enable cookies to allow the server to access 
            // the session
            xfbml: true, // parse social plugins on this page
            version: 'v2.2' // use version 2.2
        });
    };
    // Load the SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function sendTokenToServer() {
        var access_token = FB.getAuthResponse()['accessToken'];
        console.log(access_token)
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function (response) {
            console.log('Successful login for: ' + response.name);
            fetch('/fbconnect?state={{STATE}}', {
                method: "POST",
                data: access_token,
                headers: {
                    "Content-Type": 'application/octet-stream; charset=utf-8'
                    // "Content-Type": "application/x-www-form-urlencoded",
                }
            }).then(response => response.json()).then(result=>{
                // Handle or verify the server response if necessary.
                if (result) {
                    $('#result').html('Login Successful!</br>' + result.output.body + '</br>Redirecting...')
                    setTimeout(function () {
                        window.location.href = "/restaurant";
                    }, 4000);
                } else {
                    $('#result').html(
                        'Failed to make a server-side call. Check your configuration and console.'
                    );
                }
            })
        });
    }
</script>
{% endblock %}