{% extends "index.html" %}

{% block rest_nav_link %}
    <li class="nav-item active">
        <a class="nav-link" href="{{url_for('restaurantMenuItem', r_id=restaurant.id)}}">{{restaurant.name}}</a>
    </li>
{% endblock %}

{% block page_title %}
    <div class="col-md-12 col-lg-12">
        <h1 class="display-4">
            {% if op == "add" %}
            Add New
            {% elif op == "edit" %}
            Edit
            {% else %}
            Delete
            {% endif %}
            Menu Item
        </h1>
        <h1>{{restaurant.name}}</h1>
        {% if op != "add" %}
        <h2 class="mt-5">{{item.name}}</h2>
        {% endif %}
    </div>
{% endblock %}

{% block page_content %}
    <section class="col-md-9 pl-0">
        <form class="container" method="POST">
            {% if op == "delete" %}
            <p class="lead">Are you sure you want to delete menu item></p>
            <button type="submit" class="btn btn-danger" name="action" value="DELETE">Delete</button>
            {% else %}
            <div class="form-group">
                <label for="item-name">{% if op == "edit" %} New {% endif %} Name</label>
                <input type="text" class="form-control" id="item-name" aria-describedby="item-name-help"
                    placeholder="Enter name" name="name" value="{% if op == 'edit' %}{{item.name}}{% endif %}">
                <small id="item-name-help" class="form-text text-muted">Whats is the <em>{% if op == 'edit'
                        %}new{% endif %} name</em> of the menu item?</small>
            </div>
            <div class="form-group">
                <label for="item-price">{% if op == "edit" %} New {% endif %} Price</label>
                <input type="text" class="form-control" id="item-price" aria-describedby="item-price-help"
                    placeholder="Enter price" name="price" value="{% if op == 'edit' %}{{item.price}}{% endif %}">
                <small id="item-price-help" class="form-text text-muted">Whats is the <em>{% if op == 'edit'
                        %}new{% endif %} price</em> in dolloars ($) of the menu item?</small>
            </div>
            <div class="form-group">
                <label for="item-desc">{% if op == "edit" %} New {% endif %} Description</label>
                <textarea rows="3" class="form-control" id="item-desc" aria-describedby="item-desc-help"
                    placeholder="Enter description" name="description">{% if op == 'edit' %}{{item.description}}{% endif %}</textarea>
                <small id="item-name-help" class="form-text text-muted">Whats is the <em>{% if op == 'edit'
                        %}new{% endif %} description</em> of the menu item?</small>
            </div>
            <fieldset class="form-group">
                <p class="mt-1 mb-2">{% if op == "edit" %} New {% endif %}Course</p>
                <div class="border rounded p-3">
                    {% for c in courses %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="course" id="{{c}}" value="{{c}}" {% if c == item.course %}checked{% endif%}>
                            <label class="form-check-label" for="{{c}}">
                                {{c}}
                            </label>
                        </div>
                    {% endfor %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="course" id="other-course" value="OTHER">
                        <label class="form-check-label" for="other-course">
                            Other, Please specify below:
                        </label>
                        <input type="text" class="form-control disabled" id="other-course-name"
                               placeholder="Enter course name" name="new-course" disabled>
                    </div>
                </div>
            </fieldset>

            {% if op == "add" %}
            <button type="submit" class="btn btn-primary" name="action" value="CREATE">Submit</button>
            {% else %}
            <button type="submit" class="btn btn-primary" name="action" value="UPDATE">Update</button>
            {% endif %}
            {% endif %}
            <button type="submit" class="btn btn-secondary" name="action" value="CANCEL">Cancel</button>
        </form>
    </section>
{% endblock %}