{% extends "index.html" %}

{% block rest_nav_link %}
    <li class="nav-item active">
        <a class="nav-link" href="{{url_for('restaurantMenuItem', r_id=restaurant.id)}}">{{restaurant.name}}</a>
    </li>
{% endblock %}

{% block page_title %}
    <div class="col-md-12 col-lg-6">
        <h1 class="display-4">{{restaurant.name}}</h1>
    </div>
    <div class="col-md-6 col-lg-3 add-new-link my-auto">
            <a name="add-new-item" id="add-new-item" class="btn btn-primary btn-lg btn-block" href="{{url_for('newMenuItem', r_id=restaurant.id)}}" role="button">Add New</a>
    </div>
{% endblock %}

{% block page_content %}
    <section class="col-md-12 pl-0">
        <div class="container">
            {% for c in courses %}
                <div class="row">
                    <div class="col-12">
                        <h3>{{c}}</h3>
                    </div>
                </div>
                {% for i in items %}
                    {% if i.course == c %}
                        <div class="row">
                            <div class="col-md-12 col-lg-7">
                                <p>
                                    <span class="font-weight-bold">
                                        {{i.name}}
                                    </span>
                                    <br>
                                    <span class="font-italic">
                                        {{i.description}}
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-12 col-lg-2 text-right">
                                {{i.price}}
                            </div>
                            <div class="col-md-12 col-lg-3 text-right">
                                <a name="edit_button" id="edit_button" class="btn btn-warning" href="{{url_for('editMenuItem', r_id=restaurant.id, m_id=i.id)}}"
                                    role="button">Edit</a>
                                <a name="delete_button" id="delete_button" class="btn btn-danger" href="{{url_for('deleteMenuItem', r_id=restaurant.id, m_id=i.id)}}"
                                    role="button">Delete</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </section>
{% endblock %}

