<!DOCTYPE html>
    <title>Restauant App</title>
    <body/>
        <h1>All Restaurants</h1>
        {% with msg = get_flashed_messages() %}
            {% if msg %}
                <ul>
                    {% for m in msg %}
                        <li><strong>{{m}}</strong></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <p><a href="{{url_for('newRestaurant')}}">Add New Restaurant</a></p>

        {% for r in  restaurants %}
            <ul>
                <li>
                    <a href="{{url_for('restaurantMenuItem', r_id=r.id)}}">
                        {{r.name}}<br>
                    </a>
                    <a href="{{url_for('editRestaurant', r_id=r.id)}}" style="font-size: 80%;">Edit</a>
                    <a href="{{url_for('deleteRestaurant', r_id=r.id)}}" style="font-size: 80%;">Delete</a>
                </li>
            </ul>
        {% endfor %}
    </body>
</html>