<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Restaurant App</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{url_for('restaurant')}}">Restaurant App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('restaurant')}}">Home</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <a name="" id="" class="btn btn-success" href="#" role="button">Login</a>
                </form>
            </div>
        </div>

    </nav>

    <main class="container mt-5 pt-5">
        <div class="row mb-4">
            <div class="col-md-12 col-lg-12">
                <h1 class="display-4">
                    {% if op == "add" %}
                        Add New
                    {% elif op == "edit" %}
                        Edit
                    {% else %}
                        Delete
                    {% endif %}
                    Restaurant
                </h1>
                <h1>{{restaurant.name}}</h1>
            </div>
        </div>
        <div class="row">
            <section class="col-md-9 pl-0">
                <form class="container" method="POST">
                    {% if op == "delete" %}
                        <p class="lead">Are you sure you want to delete restaurant></p>
                        <button type="submit" class="btn btn-danger" name="action" value="DELETE">Delete</button>
                    {% else %}
                        <div class="form-group">
                            <label for="rest-name">{% if op == "edit" %} New {% endif %} Name</label>
                            <input type="text" class="form-control" id="rest-name" aria-describedby="rest-name-help" placeholder="Enter name" name="name">
                            <small id="rest-name-help" class="form-text text-muted">Whats is the <em>{% if op == 'edit' %}new{% endif %} name</em> of the restaurant?</small>
                        </div>
                        {% if op == "add" %}
                            <button type="submit" class="btn btn-primary" name="action" value="CREATE">Submit</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary" name="action" value="UPDATE">Update</button>
                        {% endif %}
                    {% endif %}
                    <button type="submit" class="btn btn-secondary" name="action" value="CANCEL">Cancel</button>
                </form>
            </section>
            <aside class="col-md-3 pl-0">
                <div class="card text-left">
                    <img class="card-img-top" src="holder.js/100px180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Body</p>
                    </div>
                </div>

            </aside>
        </div>
    </main>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>